<div id="<%= dom_id forecast %>">
  <p>
    <strong>Address:</strong>
    <%= forecast.address %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= forecast.zip_code %>
  </p>

  <p>
    <strong>Current temp:</strong>
    <%= forecast.current_temp %>
  </p>

  <p>
    <strong>High temp:</strong>
    <%= forecast.high_temp %>
  </p>

  <p>
    <strong>Low temp:</strong>
    <%= forecast.low_temp %>
  </p>

  <p>
    <strong>Extended forecast:</strong>
    <%= forecast.extended_forecast %>
  </p>

</div>
